:root {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "NorseBold";
    src: url("/fonts/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background-color: #F9FAFB;
    width: 1440px;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

form {
    background-color: white;
    padding-top: 20px;
    box-shadow: 0px 8px 5px -5px lightgray;
}

form,
.header,
.footer {
    padding-left: 40px;
}

.sidebar {
    background-image: url("images/background.avif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.sidebar-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    padding: 20px;
}

.sidebar-image {
    max-width: 125px;
    height: auto;
}

.logo-text {
    font-family: "NorseBold";
    font-size: 120px;
    color: white;
}

footer {
    color: white;
    padding: 10px;
}

footer>a:visited {
    color: white;
}

button {
    background-color: #596D48;
    border: 1px solid #596D48;
    border-radius: 8px;
    padding: 20px 50px 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.group {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 40px;
}

p,
legend {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
}

legend {
    margin-bottom: 20px;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #4B5563;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
    height: 1.8rem;
    padding: 5px;
}

input:focus {
    border: 1px solid #3560D6;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.error:invalid {
    border: solid 1px #B91C1C;
}

.error:invalid+span::after {
    content: "* Passwords do not match";
    color: #B91C1C;
    font-size: 12px;
}

.login {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.footer-text {
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
}